.Contenu {
  @apply absolute bottom-0 right-0 bg-gray-300 rounded-lg;
  width: calc(100% - 275px); /* Reste de l'espace */
  height: calc(100% - 135px); /* Reste de l'espace */
  display: flex; /* Pour faciliter l'organisation des enfants si besoin */
  flex-direction: column; /* Assure un positionnement vertical */
  transition: height 0.3s ease;
  overflow: hidden; /* Assure que le contenu reste dans la zone visible */
}

.Contenu-Contenu {
  @apply bg-white rounded-md overflow-auto text-5xl mx-2 transition-all ease-in-out; /* Transition fluide */
  flex-grow: 1; /* L'enfant remplit l'espace restant de son parent */
  margin: 2px; /* Espacement interne */
  opacity: 1;
}

.filter {
  @apply bg-gray-300 py-2 px-4 rounded-t-lg flex justify-end items-center;
  height: 30px; /* Hauteur par défaut */
  overflow: hidden; /* Cache tout le contenu qui dépasse */
  transition: height 1s ease;
}

.filter.expanded {
  max-height: 300px; /* Hauteur agrandie (on utilise max-height pour animer) */
  padding: 20px 4rem; /* Agrandir le padding pour l'agrandissement */
}

.hiddenContent {
  @apply bg-gray-300 p-4 rounded-lg;
  opacity: 0;
  height: 0px;
  transition: all 200ms ease-in-out;
}

.hiddenContent.visible {
  height: 70px;
  opacity: 1;
  transform: translateY(0);
}

.hiddenContent.hidden {
  height: 0;
  opacity: 0;
}

.filter-button {
  @apply absolute top-2 right-5 text-xl;
  color: #4d799a;
}

.Contenu-Contenu::-webkit-scrollbar {
  width: 12px;
}

.Contenu-Contenu::-webkit-scrollbar-thumb {
  background-color: #5d7281;
  border-radius: 6px;
}

.Contenu-Contenu::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

/* Handle on hover */
.Contenu-Contenu::-webkit-scrollbar-thumb:hover {
  background: #4d799a; /* Darker handle color on hover */
}

@media (max-width: 480px) {
  .Contenu {
    width: 100%;
    height: calc(100% - 135px);
  }
  .Contenu-Contenu {
    @apply absolute bottom-0 right-0 bg-white rounded-md overflow-auto;
    width: 100%;
    height: calc(100% - 50px);
  }
  .Contenu-Contenu::-webkit-scrollbar {
    width: 3px;
  }

  .Contenu-Contenu::-webkit-scrollbar-thumb {
    background-color: #5d7281;
    border-radius: 4px;
  }

  .Contenu-Contenu::-webkit-scrollbar-track {
    background-color: #f3f4f6;
  }
}
