.Contenu {
  @apply absolute bottom-2 right-2 bg-gray-300 rounded-lg;
  width: calc(100% - 275px); /* Reste de l'espace */
  height: calc(100% - 135px); /* Reste de l'espace */
  display: flex; /* Pour faciliter l'organisation des enfants si besoin */
  flex-direction: column; /* Assure un positionnement vertical */
  transition: height 0.3s ease;
  overflow: hidden; /* Assure que le contenu reste dans la zone visible */
}

.Contenu-Contenu {
  @apply bg-white rounded-md overflow-auto text-5xl mx-2 transition-all ease-in-out; /* Transition fluide */
  flex-grow: 1; /* L'enfant remplit l'espace restant de son parent */
  margin: 5px; /* Espacement interne */
  opacity: 1;
}

.search-input {
  padding: 0.4rem;
  background-color: #edf2f7;
  border-radius: 0.25rem;
  width: auto;
  color: #4a5568;
}

.search-input input {
  border: 1px solid transparent;
  color: #4a5568;
  background-color: #edf2f7;
  border-radius: 0.25rem;
}

.filter {
  @apply bg-gray-300 py-2 px-4 rounded-t-lg flex justify-end items-center;
  height: 5rem; /* Hauteur par défaut */
  overflow: hidden; /* Cache tout le contenu qui dépasse */
}
/* FilterBox.css */

.filter-box {
  @apply flex items-center justify-start w-full gap-4; /* Aligne à gauche avec un espace constant */
  margin: 0;
  padding: 0;
}

.select-wrapper {
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 40px;
}

.select-wrapper.open {
  max-height: 200px; /* Hauteur ajustée pour état ouvert */
  opacity: 1;
}

.select-wrapper.closed {
  max-height: 40px; /* Hauteur par défaut */
  opacity: 0.9;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  border: 6px solid transparent;
  border-top-color: #4a5568;
  transition: transform 0.3s ease;
}

.select-wrapper.open::after {
  transform: translateY(-50%) rotate(180deg); /* Flèche inversée */
}

.select {
  appearance: none;
  padding: 8px 40px 8px 16px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  background-color: #edf2f7;
  color: #4a5568;
  width: auto;
}

.select:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.hiddenContent {
  @apply bg-gray-300 px-4 rounded-t-lg flex justify-end items-center;
  opacity: 0;
  height: 0px;
  transition: all 300ms ease-in-out;
}

.hiddenContent.visible {
  height: 70px;
  opacity: 1;
  transform: translateY(0);
}

.hiddenContent.hidden {
  height: 0;
  opacity: 0;
}

.filter-button {
  @apply absolute top-2 right-5 text-xl;
  color: #4d799a;
}

.Contenu-Contenu::-webkit-scrollbar {
  width: 12px;
}

.Contenu-Contenu::-webkit-scrollbar-thumb {
  background-color: #5d7281;
  border-radius: 6px;
}

.Contenu-Contenu::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

/* Handle on hover */
.Contenu-Contenu::-webkit-scrollbar-thumb:hover {
  background: #4d799a; /* Darker handle color on hover */
}
.Ticket:hover {
  background-color: lightgray;
}

@media (max-width: 480px) {
  .Contenu {
    width: 100%;
    height: calc(100% - 135px);
  }
  .Contenu-Contenu {
    @apply absolute bottom-0 right-0 bg-white rounded-md overflow-auto;
    width: 100%;
    height: calc(100% - 50px);
  }
  .Contenu-Contenu::-webkit-scrollbar {
    width: 3px;
  }

  .Contenu-Contenu::-webkit-scrollbar-thumb {
    background-color: #5d7281;
    border-radius: 4px;
  }

  .Contenu-Contenu::-webkit-scrollbar-track {
    background-color: #f3f4f6;
  }
}
