@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geneva";
  @import url("https://fonts.cdnfonts.com/css/geneva");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geneva";
}

body {
  background: radial-gradient(circle at top left, #263c4e 0%, #4d799a 70%);

  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
