@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geneva";
  @import url("https://fonts.cdnfonts.com/css/geneva");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geneva";
}

body {
  background: linear-gradient(to bottom right, #263c4e, #4d799a);
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
