/* Style général pour la bannière */
.banner {
  @apply fixed top-0 left-64 right-0 bg-transparent text-white p-4; /* Positionnement après le menu, fond dégradé et ombre */
}

/* Conteneur principal de la bannière */
.banner-container {
  @apply flex items-center justify-between w-full px-4 py-2; /* Flexbox pour une disposition en ligne et espacement entre les éléments */
}

/* Style pour le nom d'utilisateur */
.user-name {
  @apply text-xl font-semibold; /* Taille de police pour le nom, gras */
  white-space: nowrap; /* Empêcher le texte de se couper */
}

/* Style pour le titre de l'application */
.app-title {
  @apply text-2xl font-bold text-center flex-1; /* Centrer le titre avec flexbox et largeur flexible */
  white-space: nowrap; /* Empêcher le texte de se couper */
}

/* Conteneur pour l'heure, le jour et la date */
.datetime {
  @apply flex items-center justify-end space-x-6; /* Flexbox avec un espacement plus grand entre les éléments */
}

/* Style de l'heure */
.time {
  @apply text-4xl font-bold; /* Heure en grande taille */
}

/* Style pour le jour et la date */
.date {
  @apply text-sm font-light; /* Texte petit et léger pour la date et le jour */
  text-align: right; /* Alignement du texte à droite */
}

/* Style du bouton de déconnexion */
.logout-button {
  @apply text-sm font-medium hover:underline; /* Taille du texte et soulignement au survol */
  margin-left: 20px; /* Espace entre le bouton de déconnexion et la date/heure */
}

/* Ajout de quelques media queries pour la réactivité */
@media (max-width: 1200px) {
  .logout-button {
    display: flex;
    align-items: center;
  }
}
